<% unless item.editable_by?(current_user) %>
  <%= simple_form_for [item, question] do |f| %>
    <%= f.input :content %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, "發問" %>
      </div>
    </div>
  <% end %>
<% end %>
