<button class="btn btn-default calendar-direction"
        data-toggle="tooltip" data-placement="right"
        title="預約承租亦可於出租日曆上使用滑鼠選擇日期">
  <span class="glyphicon glyphicon-question-sign"></span>
  說明
</button>

<div id="calendar"></div>

<script type="text/javascript">
  $(document).ready(function() {
    var calendar_format = 'YYYY-MM-DD HH:mm:ss';
    var default_date;

    if ( $('#rent_record_started_at').val() != "" ) {
      default_date = moment($('#rent_record_started_at').val(), calendar_format);
    } else {
      default_date = moment().format(calendar_format);
    }

    $('#calendar').fullCalendar('destroy');

    $('#calendar').fullCalendar({
      height: 600,
      lang: 'zh-tw',
      defaultDate: default_date,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: <%= raw rent_records_json %>,
      selectable: true,
      selectOverlap: false,
      select: function(start, end) {
        if (start < moment()) {
          alert("不能選擇過去");
          return;
        }
        $('#rent_record_started_at').val(start.format(calendar_format));
        $('#rent_record_ended_at').val(end.format(calendar_format));

        //for item show
        if($('#new_rent_record_form').size() > 0)
          $('#new_rent_record_form').submit();

        //for rent record form
        update_rent_days_price();
        $('#rent_record_ended_at').focus();
      }
    });

    update_rent_days_price();
  });
</script>
