= simple_form_for [item, rent_record] do |f|
  .form-group
    .col-xs-4.col-sm-3.control-label
      label 承租物
    .col-xs-6.col-sm-6 = render_disabled_input item.name

  = f.input :started_at, as: :date_time_picker
  = f.input :ended_at, as: :date_time_picker

  .form-group
    .col-xs-offset-4.col-xs-8.col-sm-offset-3.col-sm-9
      .item-price-days
        | 承租天數∶
        span#rent_days
        | 總金額∶
        span#total_price

      = f.button :submit

= hidden_field_tag :minimun_period, item.minimum_period
= hidden_field_tag :item_price, item.price

= render partial: "rent_records/calendar", locals: { event_sources_path: event_sources_path }
