<tr>
  <td><%= link_to(rent_record.borrower.email, user_path(rent_record.borrower)) %></td>
  <td><%= rent_record.currency_price %></td>
  <td><%= "#{render_datetime(rent_record.started_at)} ~ #{render_datetime(rent_record.ended_at)}" %></td>
  <td><%= render_show_rent_record_link(rent_record) %></td>
</tr>
