<tr>
  <td><%= link_to(rent_record.borrower.email, user_path(rent_record.borrower)) %></td>
  <td>$<%= rent_record.price %></td>
  <td><%= "#{rent_record.started_at} ~ #{rent_record.ended_at}" %></td>
  <td><%= link_to("查閱", item_rent_record_path(rent_record.item, rent_record), class: "btn btn-primary") if rent_record.viewable_by?(current_user) %></td>
</tr>
