<% breadcrumb :new_rent_record, @item %>

<div>
  <h4 class="col-sm-offset-1">預約 <%= link_to(@item.name, item_path(@item)) %></h4>

  <%= render partial: "form", locals: { item: @item, rent_record: @rent_record } %>
</div>
