= simple_form_for @profile do |f|
  .form-group
    .col-xs-4.col-sm-3.control-label
      label 電子郵件
    .col-xs-6.col-sm-6 = render_disabled_input @profile.user.email

  = f.input :name
  = f.input :phone

  = f.input :address do
    = f.input_field :address, class: 'form-control'

  = f.input :bank_code, input_html: { maxlength: 3, minlength: 3 }
  = f.input :bank_account
  = f.input :description

  .form-group
    .col-xs-offset-4.col-xs-offset-8.col-sm-offset-3.col-sm-9
      = f.button :submit
