= render partial: 'shopping_carts/form',
         locals: {shopping_cart: @shopping_cart, shopping_cart_items: @shopping_cart_items,
                  disabled_dates: @disabled_dates, form_url: account_customer_shopping_carts_path(@customer)}
