@import "bootstrap/variables";

/*color*/
$gray-85: lighten($gray-base, 85%);
$gray-65: lighten($gray-base, 65%);

$omniauth-margin-bottom: 5px;
$omniauth-background-position: 10px;
$omniauth-background-size: 25px;
$omniauth-padding-left: 45px;
$google-login: #3c76c9;
$facebook-login: #3A4F82;

$site-content-height: 700px;

$nav-top-adjust: -15px;

$map-height: 300px;
$map-height-sm: 400px;

$carousel-height: 400px;
$carousel-height-sm: 550px;

$margin-0-auto: 0 auto;
$one-px-solid: 1px solid;

/*tours*/
$tours-figure-margin: 30px 0;
$tours-img-width: 70%;

/*items*/
$item-grid-width: 250px;
