@import "bootstrap/variables";

$gray-85: lighten($gray-base, 85%);
$gray-65: lighten($gray-base, 65%);

$nav-top-adjust: -15px;

$map-height: 300px;
$carousel-height: 400px;
$carousel-height-sm: 520px;

$search-form-bottom: 150px;
