<% #TODO: Description %>
<div>
  <div><%= render_cl_avatar_medium profile.picture.public_id %></div>
  <div>姓名∶<%= profile.name %></div>
  <div>地址∶<%= profile.address %></div>
  <div>電話∶<%= profile.phone %></div>
</div>
