<%= render partial: "profiles/profile", locals: { user: @user, profile: @profile,
           default_content: { obj: @followings, text: "不尾行人的 ヽ(✿ﾟ▽ﾟ)ノ"} } %>

<% @followings.each do |follow| %>
  <div><%= render_cl_avatar_sm(follow) %></div>
  <div><%= link_to(follow.email, user_path(follow)) %></div>
  <div><%= render_follow_link(follow) if current_user != follow %></div>
<% end %>
