<%= render partial: "profiles/profile", locals: { user: @user, profile: @profile,
           default_content: { obj: @items, text: "沒東西 (́◉◞౪◟◉‵)"} } %>

<%= render partial: "items/type" %>

<div id="item-container">
  <%= render partial: "items/#{render_item_view}", locals: { items: @items } %>
</div>

<%= render partial: "items/pagination", locals: { items: @items } %>
