= render layout: 'users/header', locals: { user: @user } do
  = render partial: 'users/reviews', locals: { user: @user, grouped_reviews_count: @grouped_reviews_count,
                                               lender_reviews: @lender_reviews, borrower_reviews: @borrower_reviews }
