- if records_controller?
  button.btn.btn-default.calendar-direction[title="預約承租亦可於出租日曆上使用滑鼠選擇日期"
         data-toggle="tooltip" data-placement="right"]
    = render_icon_with_text("question-sign", "說明")

#calendar.anchor

javascript:
  $(document).ready(function() {
    var date_format = 'YYYY-MM-DD';
    var default_date;
    var $started_obj = $('#record_started_at')

    if ( $started_obj.size() > 0 && $started_obj.val() != "" ) {
      default_date = moment($started_obj.val(), date_format);
    } else {
      default_date = moment().format(date_format);
    }

    $('#calendar').fullCalendar('destroy');

    $('#calendar').fullCalendar({
      height: 600,
      lang: 'zh-tw',
      defaultDate: default_date,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      businessHours: true,
      eventSources: {
        url: '#{ event_sources_path }'
      },
      eventClick: function(event, jsEvent, view) {
        var $this = $(this);
        $('.fc-event').not($this).popover('hide');

        $.get($(this).attr('href'), function(data){
          $this.popover({
            html: true,
            title: event.title,
            content: data,
            placement: 'top',
            container: 'body'
          }).popover('show');
        });

        return false;
      },
      selectable: true,
      selectOverlap: false,
      select: function(start, end) {
        if (start < moment()) {
          alert('不能選擇過去');
          return;
        }

        $started_obj.val( start.format(date_format) );
        $('#record_ended_at').val( end.format(date_format) );

        //for rent record form
        update_rent_days_price();
        $('#record_ended_at').focus();
      }
    });
  });
