= render_lender_tablist

.tab-content
  = render partial: 'records/form', locals: { item: @item, event_sources_path: @event_sources_path,
                                              record: @record, disabled_dates: @disabled_dates }
