h1 關於我們

.text-muted
  p 廣和行，建立於2015年10月，其名由廣洲十三行而來，取牙商撮合之意。廣和行有著自營租賃業務廠商，亦有個人出租。廣和行試圖建立可信賴的地區性合作，提倡與自家附近鄰居租借物品，以加強社區關係。
  p 一時所需的高級攝影器材，剛出生孩子抓週用品，亦或是活動服飾等，都可以借由廣和行找到心怡的物品，並以理想價格租借；另一方面，自身也能利用出租個人閒置物品來創造更多收入，並讓推廣好東西給更多人使用。
