.site-description
  video#video-background preload="auto" loop="loop" autoplay="autoplay"
    source src="/assets/rent.mp4" type="video/mp4"
  .search-form-container = render partial: 'common/search'
