ul.item-list
  - items.each do |item|

    li.item-list-cell.clearfix
      .item-list-img
        = link_to item_path(item) do
          figure = render_cl_image_sm(item.index_picture_public_id)

      .item-list-info
        h4.item-list-name = link_to(render_item_name(item), item_path(item))
        div
          = t("simple_form.labels.item.price")
          | ∶
          = item.price_period
        div
          = t("simple_form.labels.item.minimum_period")
          | ∶
          = item.minimum_period
          = item.period_without_per
        div
          = t("simple_form.labels.item.deposit")
          | ∶
          = item.currency_deposit
        div
          = t("simple_form.labels.item.down_payment")
          | ∶
          = item.currency_down_payment

        div = item.address

      .item-list-user.text-right
        div = render_collect_item_links(item, :remote)

        .item-list-avatar
          = link_to render_cl_avatar_sm(item.lender), user_path(item.lender),
                    class: "img-circle img-thumbnail", title: item.lender.account,
                    data: { toggle: "tooltip", placement: "left" }
        .item-list-review
          = render_user_reviews(item.lender, @users_reviews_count)
