- unless item.new_record?
  = render partial: 'items/picture_list', locals: {item: item}

  = simple_form_for item, remote: true, html: { class: 'form-horizontal ajax_image' } do |f|
    = f.input :pictures, as: :file_with_image, input_html: { multiple: true }
