<% breadcrumb :item_edit, @item %>

<h2 class="col-xs-offset-4 col-sm-offset-3">修改<%= @item.name %></h2>

<div id="pictures-container">
<% @item.pictures.each do |picture| %>
  <div class="picture">
    <%= link_to("x", item_picture_path(@item, picture),
                class: "close remove-picture",
                method: :delete, remote: true,
                data: { confirm: "確定要刪除嗎？" }) %>
    <%= render_cl_image_sm picture.public_id, data: { id: picture.id } %>
  </div>
<% end %>
</div>

<div class="row">
  <%= render partial: "form", locals: { item: @item } %>
</div>
