- breadcrumb :item_edit, @item

- content_for :full_top do
  = render partial: 'attachments/cover', locals: {cover: @item.lender.cover}

.page-header: h1 = render_item_name @item
= render partial: 'form', locals: { item: @item, categories_grouped_select: @categories_grouped_select }
