- render_item_index_breadcrumbs(@breadcrumbs_object)
= render partial: 'common/advanced_search'
= render partial: 'items/type'

#item-container
  = render partial: "items/#{render_item_view}", locals: { items: @items }

= render partial: 'items/pagination', locals: { items: @items }
= render_default_content(@items, '沒東西...')
