<% render_item_index_breadcrumbs(@breadcrumbs_object) %>

<%= render partial: "items/type" %>

<div id="item-container">
  <%= render partial: "items/#{render_item_view}", locals: { items: @items } %>
</div>

<%= render partial: "items/pagination", locals: { items: @items } %>
<%= render_default_content(@items, "沒東西...") %>
