<div class="clearfix">
  <%= link_to("新增出租物", new_item_path, class: "pull-right btn btn-danger") %>
</div>

<div class="clearfix">
  <%= render partial: "items/item", collection: @items, as: :item %>
</div>
