<% render_item_index_breadcrumbs(@breadcrumbs_object) %>

<div id="item-container">
  <%= render partial: "items/item", collection: @items, as: :item %>
</div>

<%= will_paginate @items, class: "hidden-sm hidden-xs" %>
<%= will_paginate @items, class: "hidden-lg hidden-md", page_links: false %>

<%= render_default_content(@items, "沒東西...") %>
