<div class="items-action clearfix">
  <%= link_to("新增出租", new_item_path, class: "pull-right btn btn-danger") %>
  <%= link_to("租不到", requirements_path, class: "pull-right btn btn-primary") %>
</div>

<div class="clearfix">
  <%= render partial: "items/item", collection: @items, as: :item %>
</div>
