= render layout: 'items/show', locals: { item: @item, record: @record, disabled_dates: @disabled_dates, maps: @maps } do
  = render partial: 'items/reviews', locals: { item: @item, reviews: @reviews }
