= render layout: 'items/show', locals: { item: @item, rent_record: @rent_record, disabled_dates: @disabled_dates, maps: @maps } do
  #reviews = render partial: 'items/reviews', locals: { item: @item, reviews: @reviews }
