/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "fullcalendar";
@import "bootstrap-slider";

@import "mixins/variables";


body {
  font-family: "微軟正黑體",Arial !important;
  font-size: 15px;
  background-color: $body-bg;
}

ul {
  list-style: none;
  &.disc { list-style: disc; }
}

a:hover { text-decoration: none; }
p.description { font-size: 15px; }
span.glyphicon.text { margin-right: 5px; }

.well.well-white { background-color: $body-bg; }
.tab-content {
  padding-top: 10px;
  min-height: 200px;
}

.anchor { padding-top: 55px; margin-top: -55px; }
.img-thumbnail { padding: 0; }
.breadcrumb { background-color: $body-bg; border: 1px solid $gray-85; }

.nav-tabs {
  &.nav-justified > .active > a { border-bottom-color: transparent; }
  > li.active > a {
    background-color: transparent;
    &:hover { background-color: transparent; }
  }
}

/*bootstrap slider*/
#price_slider { margin-top: 8px; }

.slider.slider-horizontal {
  width: 100%;

  .slider-track { height: 6px; }
}

.slider-selection { background: $gray-light; }
.slider-handle { border: 1px solid $gray-light; }

/*messages-modal*/
.btn.btn-messages-modal { margin: 10px 0; }

//header
nav.navbar { margin-bottom: 10px; }
nav.navbar.navbar-sub {
  margin-top: $nav-top-adjust;
  min-height: 30px;
  padding-left: 10px;
  ul.nav.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
}

.site-header {

  .navbar {
    padding: 0 10px;

    .navbar-brand {
      padding-left: 6px;
      padding-right: 10px;
      margin: 0;
      padding-top: 0;

      &.category {
        padding-left: 15px;
        > ul.nav > li > a {
          padding-left: 0;
          padding-right: 0;
        }
      }

      #site-logo {
        text-indent: -119988px;
        background-image: cloudinary-url('logo.png');
        height: 50px;
        width: 50px;
        display: block;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .site-header .navbar .navbar-brand {
    padding-left: 0;
    &.category { padding-left: 0; }
  }
}

// site container
#site-content {
  padding-top: 65px;
  min-height: 700px;
}

/*footer*/
.site-footer {
  background-color: $gray-base;

  .footer-links {
    color: $gray-85;

    > li {
      a {
        background-color: $gray-base;
        color: $gray-85;
        &:hover {
          background-color: $gray-base;
          color: $body-bg;
        }
      }
    }
  }
}

#search-form {
  margin-top: 8px;
  margin-bottom: 0;

  .input-other { margin-bottom: 5px; }

  > .form-group {
    display: inline;

    > .input-group {
      display: table;
      margin-top: 0;
      width: auto;

      > .input-group-btn { width: 1%; }

      select {
        width: 90px;
        color: $gray-light;
        border-radius: 0;
        border-right: none;
        -webkit-appearance: none;

        &.input-lg {
          width: 100px;
          padding: 0;
          padding-left: 10px;
        }
      }
    }
  }
}

.form-horizontal {
  select { width: 200px; }
  input[type="number"] { text-align: right; }
  input.form_date { margin-bottom: 5px; }

  .input-group {
    margin-top: 0;

    &.addon { width: 250px; }
  }

  //btn-file
  .btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: #FF0000;
      cursor: inherit;
      display: block;
    }
  }

  .file-name {
    background-color: white !important;
    cursor: text !important;
  }

  .radio {
    &.inline {
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
    }
  }
}

/*navbar*/
@media screen and (min-width: $grid-float-breakpoint) {
  #user-navigation {
    padding-right: 20px;

    .navbar-nav > li.logged > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

#user-navigation {
  a.login { color: $brand-primary; }
  a.conversations-icon {
    font-size: 24px;
  }
}

/*pagination*/
.pagination-wrapper {
  text-align: center;

  .pagination {
    margin: 10px 0;

    &.top { margin-top: 0; }
  }
}

/*bootstrap popover*/
.nav .popover {
  max-width: 430px;
  width: 430px;

  .category-list {
    @extend .pull-left;
    width: 130px;

    .panel-heading {
      @extend strong;
      font-size: 15px;

      a {
        color: $gray-darker;
        &:hover { color: $gray; }
      }
    }

    .list-group {
      margin-bottom: 0;

      .list-group-item {
        border: none;

        a {
          color: $gray-dark;
          &:hover { color: $gray-light; }
        }
      }
    }
  }
}
