/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "fullcalendar";

@import "mixins/variables";

body { padding-top: 51px; }
a:hover { text-decoration: none; }
.anchor { padding-top: 55px; margin-top: -55px; }
a > span.glyphicon.text { margin-right: 5px; }

.img-thumbnail { padding: 0; }
p.description { font-size: 15px; }

ul { list-style: none; }

//header
.site-header {

  .navbar {
    padding: 0 10px;

    .navbar-brand {
      margin: 0;
      padding-top: 0;

      #site-logo {
        text-indent: -119988px;
        background-image: url("logo.gif");
        height: 50px;
        width: 50px;
        display: block;
      }
    }
  }
}

// site container
#site-content { padding: 10px 20px; }

/* Sidebar navigation */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: $body-bg;
  border-right: 1px solid $gray-85;

  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    > li {
      > a {
        color: $gray-darker;
        padding-right: 20px;
        padding-left: 20px;
      }

      &.active {
        > a, > a:hover, > a:focus {
          color: $body-bg;
          background-color: #428bca;
        }
      }
    }
  }

}

/*footer*/
.site-footer {
  background-color: $gray-base;

  .footer-links {
    > li {
      padding: 10px 20px;
      margin-right: 10px;
      float: left;
      a { color: $gray-85; }
    }
  }
  .footer-copyright {
    color: $gray-85;
    text-align: right;
    padding: 20px;
  }
}

#search-form {
  margin-top: 10px;
  margin-bottom: 0px;

  .input-other { margin-bottom: 5px; }

  > .form-group {
    display: inline;

    > .input-group {
      display: table;
      margin-top: 0;
      width: auto;

      > .input-group-btn { width: 1%; }

      #city {
        color: $gray-light;
        border-radius: 0;
        border-right: none;
        -webkit-appearance: none;
      }
    }
  }
}

.form-horizontal {
  select { width: 200px; }

  input[type="number"] { text-align: right; }

  .input-group {
    margin-top: 0;

    &.addon { width: 250px; }
  }

  //btn-file
  .btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: #FF0000;
      cursor: inherit;
      display: block;
    }
  }

  #file-name {
    background-color: white !important;
    cursor: text !important;
  }

  .radio {
    &.inline {
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
    }
  }
}

.user-navbar {
  margin-top: 15px;
  margin-bottom: 4px;
  padding: 0;
  float: right;

  .nav-item {
    float: left;

    &.login {
      margin-top: -5px;
      margin-left: 10px;
    }
  }
}

.nav-link {
  color: #000000;
  display: block;
  padding: 4px 8px;
  line-height: 20px;
  font-weight: bold;

  &.profile { padding-top: 0; margin-top: -3px; }
}

/*pagination*/
.pagination-wrapper {
  text-align: center;

  .pagination {
    margin: 10px 0;

    &.top { margin-top: 0; }
  }
}

/*bootstrap popover*/
.nav .popover {
  max-width: 430px;
  width: 430px;

  .category-list {
    @extend .pull-left;
    width: 130px;

    .panel-heading {
      @extend strong;
      font-size: 15px;

      a {
        color: $gray-darker;
        &:hover { color: $gray; }
      }
    }

    .list-group {
      margin-bottom: 0;

      .list-group-item {
        border: none;

        a {
          color: $gray-dark;
          &:hover { color: $gray-light; }
        }
      }
    }
  }
}
