@import "mixins";

/*inputs/file_with_image*/
.carousel.picture {
  width: 200px;
  height: 200px;

  .item {
    @include background_cover(100%);

    .carousel-caption {
      right: 0;
      left: 0;
      bottom: 0;
      padding: 25px 15px 15px;
      background-color: transparent;
      background-image: linear-gradient(transparent, rgba(0,0,0,0.8));

      &.edit_image { cursor: pointer; }
    }
  }
}

.carousel .item {
  .close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
  }
}

/*views/attachments/cover*/
.cover-image-container {
  margin-top: $nav-top-adjust;
  margin-bottom: 10px;
  border: 1px solid $gray-85;

  .cover-image {
    @include background_cover($carousel-height, contain);
  }
}

@media screen and (min-height: $screen-sm) {
  .cover-image-container {
    height: $carousel-height-sm;
    .cover-image { height: $carousel-height-sm; }
  }
}
