@import "bootstrap/mixins/border-radius";
@import "bootstrap/variables";

/*index*/
#item-container {
  position: relative;

  .item-box {
    float: left;
    width: 252px;
    margin-right: 10px;
    margin-bottom: 5px;

    border-color: #BBBBBB;
    border-width: 1px;
    border-style: solid;

    .item-bookmark {
      display: none;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    &:hover .item-bookmark { display: block; }

    .item-info-short {
      border-top: solid 1px $gray-lighter;
      padding: 5px;
      color: $gray-light;

      .item-title {
        color: $gray-base;
        margin-bottom: 5px;
      }
    }
  }
}

/*show*/
#map {
  width: 350px;
  height: 200px;
  margin-bottom: 10px;
}

.item-info-container {
  .item-title {
    text-align: center;
    margin-top: 0;
  }

  .item-action {
    margin: 10px 0px;
  }
}

.nav-tabs {
  a {
    color: #000000;
  }
}

.tab-content {
  height: 700px;
  padding-top: 15px;
}
