@import "mixins";
@import "bootstrap/mixins/clearfix";

/*index*/
.item-view {
  @include clearfix();
  margin: 10px 0;
}

#item-list-container {
  position: relative;

  .item-grid {
    width: $item-grid-width + 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: $body-bg;

    border-color: #BBBBBB;
    border-width: 1px;
    border-style: solid;

    img {width: $item-grid-width;}

    .item-operation {
      display: none;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    &:hover .item-operation { display: block; }

    .item-info-short {
      border-top: solid 1px $gray-lighter;
      padding: 5px;
      color: $gray-light;

      .item-title {
        color: $gray-base;
        margin-bottom: 5px;
      }
    }
  }

  ul.item-list {
    padding-left: 0;

    > .item-list-cell {
      @include clearfix();
      padding: 10px 0;
      border-top: 1px solid $gray-85;

      .item-list-name { margin-top: 3px; }
      .item-list-user {
        float: right;
        padding-right: 20px;
        padding-top: 10px;
      }

      .item-list-info, .item-list-img {
        margin-right: 15px;
        float: left;

        .item-picture {
          @include background_cover(180px, contain);
          width: 250px;
          background-repeat: no-repeat;
        }
      }
      .item-list-avatar { margin: 10px 0; }
    }
  }
}

/*show*/
.item-header {
  border-bottom: 1px solid $gray-85;
  margin-bottom: 15px;
  padding-bottom: 5px;

  #rent {
    border-radius: 0;
    position: absolute;
    margin-top: 84px;
    width: 350px;
    z-index: 10;

    .panel-heading { padding: 0; }
    .price {
      padding: 3px 15px;
      font-size: 24px;
      float: left;
    }
    .period {
      padding: 10px 15px;
      float: right;
    }

    &.affix {
      top: -34px;
      position: fixed;
    }
  }
  .new-record.affix {
    top: 60px;
    left: 10%;
    width: 80%;
    z-index: 9999;
  }
}

.item-show-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-85;
}

/*item.pictures on items/show and edit*/
#item-picture-container {
  position: relative;

  > .item-picture {
    width: $item-grid-width;

    .remove-picture {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#map {
  height: $map-height;
  width: 100%;
  margin-top: 10px;
}

/*search*/
.price_shower {
  margin-left: -15px;
  font-size: 16px;
}
