@import "mixins/variables";

.root-background {
  position: relative;
  height: $modal-sm;
  width: 100%;
  background-image: url("root");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $body-bg;
  background-position: 50% 50%;

  .description {
    color: $body-bg;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;

    .title { font-size: 24px; font-weight: 400; }
    .detail { font-size: 16px; }
  }

  .search-form-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    right: 0;
    left: 0;
    bottom: $navbar-height;
  }
}

@media screen and (min-width: $screen-xs) {
  .root-background {
    height: $carousel-height;

    .description {
      padding-top: 100px;

      .title { font-size: 40px; font-weight: 500; }
      .detail { font-size: 20px; }
    }
    .search-form-container {
      width: 75%;
      bottom: $navbar-height;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .root-background {
    height: $modal-md;

    .description {
      padding-top: 180px;

      .title { font-size: 60px; font-weight: 700; }
      .detail { font-size: 24px; }
    }

    .search-form-container { bottom: $search-form-bottom; }
  }
}
