@import "mixins/variables";

.root {
  .navbar-default {
    background: none;
    border: none;
    .icon-bar { background-color: $body-bg; }
  }

  #user-navigation {
    li {
      &.active > a, &.open > a {
        background: none;
        &:hover { background: none; }
      }

      > a {
        &.conversations-icon, &.signup, &.login, .caret { color: $body-bg; }
        &:hover { background: none; }
      }
    }
  }
}

.root-background {
  position: relative;
  height: $modal-sm;
  width: 100%;
  background-image: cloudinary-url('root.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $body-bg;
  background-position: 50% 50%;

  .description {
    color: $body-bg;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;

    .title { font-size: 24px; font-weight: 400; }
    .detail { font-size: 16px; margin-bottom: 20px; }
    .alert {
      position: absolute;
      width: 240px;
      margin: auto;
      top: 5px;
      left: 0;
      right: 0;
      z-index: 999999999;
    }

  }
}

@media screen and (min-width: $screen-xs) {
  .root-background {
    height: $carousel-height;

    .description {
      padding-top: 150px;

      .alert { width: 300px; }
      .title { font-size: 40px; font-weight: 500; }
      .detail { font-size: 20px; margin-bottom: 30px; }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .root-background {
    height: $modal-md;

    .description {
      padding-top: 180px;

      .alert { width: 500px; }
      .title { font-size: 60px; font-weight: 700; }
      .detail { font-size: 24px; margin-bottom: 100px; }
    }
  }
}
