@import "mixins/variables";

.site-description {
  position: relative;
  height: $modal-sm;
  width: 100%;
  background-image: url("root");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $body-bg;
  background-position: 50% 50%;

  .search-form-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    bottom: $navbar-height;
    right: 0;
    left: 0;
  }
}

@media (min-width: $screen-xs) {
  .site-description {
    height: $carousel-height;

    .search-form-container {
      width: 75%;
      bottom: $navbar-height;
    }
  }
}

@media (min-width: $screen-sm) {
  .site-description {
    height: $modal-md;

    .search-form-container {
      width: 75%;
      bottom: $tooltip-max-width;
    }
  }
}
