@import "mixins/variables";

.question {
  .ask {
    margin: 0 15px;
    padding: 10px 0;
    background-color: $gray-lighter;
  }
  .reply {
    margin: 0 15px;
    padding: 10px 0;
    background-color: $body-bg;
  }
}
