@import "mixins/variables";

.input-group { margin-top: 10px; width: 300px; }

.btn.calendar-direction { margin-bottom: 5px; }

.progress-bar.progress-bar-muted {
  color: $gray-65;
  background-color: $progress-bg;
}
