@import "mixins/variables";

.review-container {
  border-bottom: solid 1px $gray-lighter;
  padding: 5px 0;
  margin-bottom: 5px;

  .review-info {
    p { margin: 0px; }
  }
}

.btn.user-reviews {
  margin-top: 10px;
  margin-bottom: 10px;
}
