@import "mixins/variables";

ul.shopping_cart > li {
  border-top: 1px solid $gray-85;
  padding-top: 10px;
  padding-bottom: 10px;
  &:last-child, &:first-child {border: none;}

  .label {margin-right: 5px;}
}
