@import "mixins/variables";

/*show*/
.site-header.user nav.navbar { margin: 0; }

section {
  min-height: $site-content-height - 100px;

  .user-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .page-header { margin-top: 0; }
    .description { margin-top: 15px; }

    ul.user-info {
      padding-left: 0;

       > li {
        margin-bottom: 15px;

        span {
          margin-right: 5px;
          &.glyphicon.text { margin-right: 10px; }
        }
      }
    }
  }
}
