@import "bootstrap/variables";
@import "mixins/variables";

/*show*/
.follow-container {
  float: left;
  width: 310px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-lighter;

  > .follow-avatar {
    float: left;
    margin-right: 20px;
  }
  > .follow-info { float: left; }
}

.user-aside {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;

  .user-avatar { margin-bottom: 10px; }
  .user-item-list {
    padding: 0;
    > .item {
      position: relative;
      margin-bottom: 5px;

      .carousel-caption {
        right: 0;
        left: 0;
        bottom: 0;
        padding: 25px 15px 15px;
        background-color: transparent;
        background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
      }
    }
  }
}

.user-account { margin-top: 5px; }
