<% rates_radio = Review.rates_radio_collections %>

<%= simple_form_for [ @item, @rent_record, @review ] do |f| %>
  <%= f.input :rate, as: :radio_buttons,
                     collection: rates_radio,
                     checked: rates_radio.first,
                     wrapper: :default,
                     label: false,
                     wrapper_html: { class: "col-sm-offset-2 col-sm-10" },
                     item_wrapper_class: "inline" %>
  <%= f.input :content %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, "送出評價" %>
    </div>
  </div>
<% end %>
