header.site-header
  nav.navbar.navbar-default.navbar-fixed-top
    .navbar-header
      button.navbar-toggle.collapsed data-toggle="collapse" data-target="#user-navigation" aria-expanded="false" type="button"
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      h1.navbar-brand
        = link_to SITE_NAME, root_path, id: "site-logo"
      = render_category_navbar

    #user-navigation.collapse.navbar-collapse
      = render partial: "common/user_login"
      = render partial: "common/search" unless settings_page?
